.qsys_edit
db
hps_isw_handoff
incremental_db
simulation
soc_system
synthesis
output
*.bak
*.BAK.*
*.html
*.jpg
*.pdf
*.rpt
*.summary
*_bb.v
*.ddb
*.f
*.ppf
*.jdi
*_assignment_defaults.qdf
*.qws
*.sip
*.spd
*_inst.v
*_sim
*.sof
*.jic
*.cof
*.rbf
*.pin
*.dtb
buildroot-*
gcc-linaro-*
linux-socfpga-rel_socfpga-*
spl_bsp
u-boot-socfpga-rel_socfpga_*
u-boot.scr
sbt4e-15.1-workspace
cross-workspace
.settings
obj
mem_init
copy_to_*
*.elf
*.srec
*.a
*.tcl~
*.done
*.smsg
*.sopcinfo
*.qxp
*.qarlog
*.force*
*.out
*.log
*.orig
*.map
*.objdump
*.hex
*.img
*.bin
